body {
    font-family: 'Arimo';
    background: #181818;
    color: #f3f6f9;
}

.movie {
    margin: 0 auto;
    max-width: 930px;
}

.title {
    margin-left: 70px;
    margin-bottom: 45px;
    font-size: 120.416px;
    font-family: Arimo;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -4.817px;
}

.movie__wrap {
    padding: 60px 70px;
    background: #232323;
    border-radius: 20px;
}

.movie__form-input {
    margin-bottom: 40px;
    width: 50%;
    height: 30px;
    font-size: 30px;
    letter-spacing: -0.6px;
    outline: none;
    background: #232323;
    border: 0;
    border-bottom: 1px solid #f3f6f9;
    opacity: 0.5;
    color: #fff;
}

.movie__form-btn {
    position: relative;
    margin-left: 20px;
    width: 62px;
    height: 62px;
    border-radius: 62px;
    outline: 0;
    border: 0;
    background: #6532f8;
}

.movie__list {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.movie__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: #3A3939;
    height: 71px;
    width: 790px;
    border-radius: 10px;
}

.movie__text {
    font-family: Arimo;
    font-size: 20px;
    letter-spacing: -0.4px;
}

.movie__remove {
    width: 23px;
    height: 23px;
    background: url(../resources/remove.png) no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
    transition: scale 0.2s linear;
}

.movie__remove:hover {
    scale: 1.2;
    transition: scale 0.2s linear;
}

.movie__wrap {
    height: 700px;
    overflow-y: auto;
}

.inactive {
    opacity: 0.5;
    text-decoration: line-through;
    transition: all 0.5s ease-in-out;
}

.remove {
    scale: 0;
    transition: scale 0.5s ease-in-out;
}