body {
    font-family: 'Arimo';
    background: #181818;
    color: #f3f6f9;
}

.movie {
    margin: 0 auto;
    max-width: 930px;
}

.header {
    margin-left: 70px;
    margin-top: 50px;
    display: flex;
}

.header p {
    padding: 10px;
    border: 1px solid #6532F8;
    border-radius: 200px;
    background: #6532F8;
    font-size: 15px;
    letter-spacing: -0.6px;
    text-align: center;
    text-transform: uppercase;
    font-family: Arimo;
}

.header__year {
    width: 75px;
}

.title {
    margin-left: 70px;
    margin-bottom: 45px;
    font-size: 120.416px;
    font-family: Arimo;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -4.817px;
}

.movie__wrap {
    padding: 60px 70px;
    max-height: 700px;
    background: #232323;
    border-radius: 20px;
    overflow-y: auto;
}

.movie__form {
    margin-bottom: 40px;
    display: flex;
    gap: 30px;
}

.movie__form-input {
    padding: 15px 0;
    width: 50%;
    height: 30px;
    font-size: 30px;
    letter-spacing: -0.6px;
    outline: none;
    background: #232323;
    border: 0;
    border-bottom: 1px solid #f3f6f9;
    opacity: 0.5;
    color: #fff;
}

.movie__form-btn {
    width: 62px;
    height: 62px;
    border-radius: 62px;
    outline: 0;
    border: 0;
    background: url(../resources/Vector.png) #6532f8 no-repeat center;
    background-size: 31px;
    cursor: pointer;
    transition: all 0.1s linear;
}

.movie__form-btn:hover {
    scale: 1.2;
    transition: all 0.1s linear;
}

.movie__list {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.movie__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: #3A3939;
    height: 71px;
    width: 100%;
    border-radius: 10px;
}

.movie__label {
    display: flex;
    gap: 30px;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: Arimo;
    font-size: 20px;
    letter-spacing: -0.4px;
}

.movie__checkbox {
    /* position: absolute;
    z-index: -1;
    opacity: 0; */
    display: none;
}

.movie__checkbox+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #F3F6F9;
    border-radius: 100px;
    transition: all 0.5s ease-in-out;
}

.movie__checkbox:checked+label::before {
    background: #6532F8;
}

.movie__remove {
    width: 23px;
    height: 23px;
    background: url(../resources/remove.png) no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
    transition: scale 0.2s linear;
}

.movie__remove:hover {
    scale: 1.2;
    transition: scale 0.2s linear;
}

.inactive {
    opacity: 0.5;
    text-decoration: line-through;
    transition: all 0.5s ease-in-out;
}

.remove {
    scale: 0;
    transition: scale 0.5s ease-in-out;
}